/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
main {
  width: 80%;
  margin: 5% 10%;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
